<div class="reg-body">
    <div class="lang__btns">

        <select class="form-select" #langSelect (change)="changeLang(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang"
                [selected]="lang === translate.currentLang">{{ lang == 'Odia'?'ଓଡିଆ':lang }}</option>
        </select>

        </div>
    <div class="registration-form">
        <div class="reg-header">
            <img src="{{siteURL}}assets/images/login__bg.png" class="w-100" alt="Login">
        </div>



        <div class="control-div">

               


            <a [routerLink]="[ '/']" class="top_logo_sec" title="Home">
                <img src="{{siteURL}}assets/images/govt_logo.png" alt="Govt Logo" class="govt_logo">
                <img src="{{siteURL}}assets/images/slogo.png" alt="Sugam" class="sugam_logo">
            </a>


            <div class="login__content">

                <div class="forgot_div active" *ngIf="userIdStatus">

                    <h5> {{'Forgot password' | translate}} </h5>

                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Enter Mobile No" autocomplete="off"
                            id="mobileNo" [(ngModel)]="mobileNo" [maxlength]="maxLghMob" [minlength]="minLghMob"
                            (keypress)="vldChkLst.isNumberKey($event)" />
                        <div class="addon"><i class="icon-user-solid"></i></div>
                    </div>



                    <div class="d-flex justify-content-center gap-3 align-items-center">
                        <input type="submit" (click)="forgorPassword()" value="Get OTP" id="login-btn"
                            class="log-link w-auto  mt-2" title="Get OTP">

                        <a class="log-link-outline w-auto mt-2" [routerLink]="[ '/manufacture-portal/login']" title="Back to Login"> {{'Back
                            to Login' | translate}}</a>

                    </div>

                </div>



                <div class="otp_div active" *ngIf="OTPStatus">


                    <p class="mb-4 pdesc">4-digit code has been sent to mobile no. and email Id. Please enter your
                        Mobile verification code below. </p>

                    <div class="form-group input-groupnew">
                        <!-- <ng-otp-input  (onInputChange)="onOtpChange($event)" [(ngModel)]="textOTP"  [config]="{length:6,allowNumbersOnly:true}"></ng-otp-input> -->
                        <input type="text" autocomplete="off" class="form-control" id="textOTP" [(ngModel)]="textOTP"
                            [maxlength]="maxLghotp" [minlength]="minLghotp" (keypress)="vldChkLst.isNumberKey($event)">
                        <div class="addon"><i class="icon-phone-volume-solid"></i></div>
                        <p class="mb-0 mt-2"><strong class="text-danger">{{timeLeft}}</strong> Seconds Left....</p>
                    </div>





                    <div class="mb-3 pt-3 mt-2 d-flex justify-content-center gap-3 align-items-center">
                        <button class="log-link otp-btn  mt-2  otp-btn" (click)="verifyOTP();">Verify</button>

                        <button type="button" class="log-link w-100 me-2 mt-2 btn-danger text-white" (click)="resendOtp()" [disabled]="!editable"
                            mdbWavesEffect>Resend OTP</button>

                        
                    </div>
                    <a [routerLink]="[ '/citizen-portal/login']"  class="log-link-outline mt-2">Back to Login</a>

                </div>

            </div>
        </div>



    </div>
</div>