
<app-header></app-header>
<!-- <div class="pagenavigation">

        <div class="container">
            <h2>{{'Contact Us' | translate}}</h2>
        </div>    
        </div> -->
        <div class="inner-banner">
            <h3 data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out" class="screen__reader">{{'Contact Us' | translate }}</h3>
            <nav >
               <ol class="breadcrumb "  data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" >
                 <li class="breadcrumb-item screen__reader"><a href="#"><i class="bi bi-house"></i></a></li>
                 <li class="breadcrumb-item active screen__reader" aria-current="page"> {{'Contact Us' | translate }} </li>
               </ol>
             </nav>
          </div>
          <div class="inner-content">
        <div class="container">
            <div class="page-container content-section contact-inner">
                <!-- <div [innerHTML]="contact_us_content"></div> -->
                
<!-- new section -->
<h4 class="contact-title screen__reader" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000">
    {{'Head Office' | translate}}
</h4>
            <div class="row">
                <!-- Contact Information Section -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="contact-details">
                     
        
                        <!-- Head Office Information -->
                        <div class="contact-info" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                           
                            <div class="d-flex align-items-start">
                                <div class="icon-patch">
                                    <span class="bi bi-geo-alt screen__reader"></span>
                                </div>
                              <div>
                                <h5 class="office-title screen__reader">{{'Fisheries & Animal Resources Development Department' | translate}}</h5>
                                <address class="screen__reader">
                                    
                                    {{'Odisha Secretariat, Sachivalaya Marg' | translate}} 
                                </address>
                                <address class="text-secondary screen__reader">
                                    {{'Bhubaneswar, Odisha, Pin-Code: 751001' | translate}}
                                </address>
                                <p>
                                    <i class="bi bi-envelope me-2 screen__reader"></i> 
                                    <a href="mailto:helpdesk.sugam@odisha.gov.in" class="screen__reader">helpdesk.sugam@odisha.gov.in</a>
                                </p>
                              </div>
                            </div>
                           
                           
                        </div>
        
                  
                    </div>
                </div>
                
                <!-- Google Map Section -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- Department of Agriculture Information -->
                    <div class="contact-info" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000">
                                        
                        <div class="d-flex align-items-start">
                            <div class="icon-patch">
                                <span class="bi bi-geo-alt  screen__reader"></span>
                            </div>
                        <div>
                            <h5 class="office-title screen__reader">{{"Department Of Agriculture And Farmers' Empowerment" | translate}}</h5>
                            <address class="screen__reader">
                                {{'Krushi Bhavan' | translate}}
                            </address>
                            <address class="text-secondary screen__reader">
                                {{'Bhubaneswar, Odisha, Pin-Code: 751001' | translate}}
                            </address>
                            <p>
                                <i class="bi bi-envelope me-2"></i> 
                                <a href="mailto:helpdesk.sugam@odisha.gov.in" class="screen__reader">helpdesk.sugam@odisha.gov.in</a>
                            </p>
                        </div>
                        </div>
                    
                    
                    </div>

                    <!-- <div class="map-container" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                        <iframe 
                            src="https://www.google.com/maps/d/u/0/embed?mid=1lbyfw1jBCwCXWYy-p8tMxY1JNq0ln94&ehbc=2E312F"
                            width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        </iframe>

                        
                    </div> -->
                </div>
            </div>

            <div class="map-area">
                <div class="map-container" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" >
                    <iframe class="screen__reader" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3742.336917106322!2d85.83531637585877!3d20.28631691286311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1909e4391283ab%3A0x840d915def518a78!2sFisheries%20and%20Animal%20Resources%20Development%20Department!5e0!3m2!1sen!2sin!4v1729252392055!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                    
                </div>
                <div class="map-container" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                    <iframe class="screen__reader" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3742.627123201699!2d85.82534647585852!3d20.274293413262463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a19a7003465fd81%3A0x395402717b616111!2sAgriculture%20%26%20Farmers&#39;%20Empowerment%20Department!5e0!3m2!1sen!2sin!4v1729252429766!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                    
                </div>
            </div>

            </div>            
                



            
         


        </div>
     
    </div>     
<app-footer></app-footer>