<app-header></app-header>
<div class="inner-banner">
  <h3 data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out" class="screen__reader">{{'FAQ' | translate }}</h3>
  <nav >
     <ol class="breadcrumb" aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
       <li class="breadcrumb-item screen__reader"><a href="#"><i class="bi bi-house screen__reader"></i></a></li>
       <li class="breadcrumb-item active screen__reader" aria-current="page"> FAQ</li>
     </ol>
   </nav>
</div>
<div class="inner-content">
        <div class="container">
    <div class="py-4">
        <div class="content-section">
                <div class="accordion" id="accordionExample">
                        <div class="accordion-item" data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button screen__reader" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              {{'qs1' | translate }}
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body screen__reader">
                                    <ul class="list1 mb-0">
                                            <li class="screen__reader">{{'ans1' | translate }}</li>
                                        </ul>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item" data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                          <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed screen__reader" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                               {{'qs2' | translate }}
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body screen__reader">
                                    <ul class="list1 mb-0">
                                      <li class="screen__reader">{{'ans2' | translate }}</li>
                                            
                                        </ul>  
                                     </div>
                          </div>
                        </div>
                        <div class="accordion-item" data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                          <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed screen__reader" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              {{'qs3' | translate }}
                            </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body screen__reader">
                                    <ul class="list1 mb-0">
                                            <li class="screen__reader">{{'ans3' | translate }}</li>
                                            
                                        </ul>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item" data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                                <h2 class="accordion-header" id="headingFour">
                                  <button class="accordion-button collapsed screen__reader" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                 {{'qs4' | translate }}
                                  </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                  <div class="accordion-body screen__reader">
                                        <ul class="list1 mb-0">
                                                <li class="screen__reader">{{'ans4.1' | translate }}</li>
                                            <li class="screen__reader">{{'ans4.2' | translate }}</li>
                                            <li class="screen__reader">{{'ans4.3' | translate }}</li>
                                            
                                              </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item" data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                                    <h2 class="accordion-header" id="headingFive">
                                      <button class="accordion-button collapsed screen__reader" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                       {{'qs5' | translate }}
                                      </button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                      <div class="accordion-body screen__reader">
                                            <ul class="list1 mb-0">
                                                    <li class="screen__reader">{{'ans5' | translate }}</li>
                                                </ul>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item" data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                                        <h2 class="accordion-header" id="headingSix">
                                          <button class="accordion-button collapsed screen__reader" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            {{'qs6' | translate }}
                                          </button>
                                        </h2>
                                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                          <div class="accordion-body screen__reader">
                                                <ul class="list1 mb-0">
                                                        <li class="screen__reader">{{'ans6' | translate }}</li>
                                                       
                                                    </ul>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="accordion-item" data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                                            <h2 class="accordion-header" id="headingSeven">
                                              <button class="accordion-button collapsed screen__reader" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                {{'qs7' | translate }}
                                              </button>
                                            </h2>
                                            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                              <div class="accordion-body screen__reader">
                                                    <ul class="list1 mb-3">
                                                            <li class="screen__reader">{{'ans7.1' | translate }}</li>
                                                            <li class="screen__reader">{{'ans7.2' | translate }}</li>
                                                            <li class="screen__reader">{{'ans7.3' | translate }}</li>
                                                        </ul>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="accordion-item" data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                                                <h2 class="accordion-header" id="headingEight">
                                                  <button class="accordion-button collapsed screen__reader" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                                    {{'qs8' | translate }}
                                                  </button>
                                                </h2>
                                                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                                                  <div class="accordion-body screen__reader">
                                                        <ul class="list1 mb-3">
                                                                <li class="screen__reader">{{'ans8' | translate }}</li>
                                                              
                                                            </ul>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="accordion-item" data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                                                <h2 class="accordion-header" id="headingNine">
                                                  <button class="accordion-button collapsed screen__reader" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                                  {{'qs9' | translate }}
                                                  </button>
                                                </h2>
                                                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                                                  <div class="accordion-body screen__reader">
                                                        <ul class="list1 mb-3">
                                                                <li class="screen__reader">{{'ans9.1' | translate }}</li>
                                                                <li class="screen__reader">{{'ans9.2' | translate }}</li>
                                                            </ul>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="accordion-item" data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                                                    <h2 class="accordion-header" id="headingTen">
                                                      <button class="accordion-button collapsed screen__reader" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                                      {{'qs10' | translate }}
                                                      </button>
                                                    </h2>
                                                    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                                                      <div class="accordion-body screen__reader">
                                                            <ul class="list1 mb-3">
                                                                    <li class="screen__reader">{{'ans10.1' | translate }}</li>
                                                                    <li class="screen__reader">{{'ans10.2' | translate }}</li>
                                                                </ul>
                                                      </div>
                                                    </div>
                                                  </div>
                      </div>
         
        </div>
    </div>
    </div>
  </div>
<app-footer></app-footer>
