<h5 class="common-heading">{{'Change Password' | translate}}</h5>
    <div class="row">
            <label class="col-lg-2 col-md-4">{{'New Password' | translate}}</label>
            <div class="col-lg-4 col-md-8">
                    <div class="form-group">
                            <input type="password" class="form-control" maxlength="15" minlength="8" name="txtNewPassword" id="txtNewPassword"  [(ngModel)]="newPassword">
                            <div class="tooltip-container">
                                <i class="icon-question-circle-solid"></i>
                                <div class="tooltip">Password should be alphanumeric and consist of at least one upper case letter, special character and should be 8-15 characters long</div>
                              </div>
                    </div>
            </div>
    </div>
    <div class="row">
            <label class="col-lg-2 col-md-4">{{'Confirm Password' | translate}}</label>
            <div class="col-lg-4 col-md-8">
                    <div class="form-group">
                            <input type="password" class="form-control" name="txtConfirmPassword" id="txtConfirmPassword"  [(ngModel)]="confirmPassword">
                            
                    </div>
            </div>
            </div>
            <div class="row">
                <label class="col-lg-2 col-md-4"></label>
                <div class="col-lg-4 col-md-8">
                    <button  class="btn btn-success"   (click)="updFPassword();">Submit</button>&nbsp;
                    <button  type="button" class="btn btn-danger" >Reset</button>  
                </div>
                </div>

    <div class="loader" *ngIf="loading">
        <div class="loader-item"></div>
        <p>Loading...</p>
    </div>