<app-header></app-header>
<div class="inner-banner">
   <h3 data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out" class="screen__reader">{{'About Sugam' | translate}}</h3>
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb" data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
        <li class="breadcrumb-item screen__reader"><a href="#"><i class="bi bi-house screen__reader"></i></a></li>
        <li class="breadcrumb-item active screen__reader" aria-current="page"> {{'About Sugam' | translate}}</li>
      </ol>
    </nav>
</div>

<div class="inner-content ">
   <div [innerHTML]="about_us_content"></div>
   
</div>






<app-footer></app-footer>
