<!-- Footer -->
<div class="footer-img">
        <img src="{{siteURL}}assets/images/footer-img.png" alt="footer-img">
        </div>
        <section class="footer-section">   
<div class="website-footer" >
        <div class="container">
                <div class="foote-top">

                        <div class="row">


                                <div class="col-md-8 col-lg-5">
                                        <h4 data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out" class="screen__reader">{{'Important Links' | translate}}</h4>
                                        <ul>
                                                <li data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out" >
                                                        <a href="https://fard.odisha.gov.in/" target="_blank" class="screen__reader">{{ 'Fisheries & Animal Resource Development Department' | translate}}</a>
                                                </li>
                                                <li data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                                                        <a href="https://agri.odisha.gov.in/" target="_blank" class="screen__reader">{{ 'Department of Agriculture & Farmer Empowerment' | translate}}</a>
                                                </li>
                                                <li data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                                                        <a href="https://odishaahvs.nic.in/" target="_blank" class="screen__reader">{{ 'Directorate of Animal Husbandry & Veterinary Services' | translate}} </a>
                                                </li>
                                                <li data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                                                        <a href="https://fisheries.odisha.gov.in/" target="_blank" class="screen__reader">{{ 'Directorate of Fisheries' | translate}}</a>
                                                </li>
                                                <li data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                                                        <a href="https://agri.odisha.gov.in/" target="_blank" class="screen__reader">{{ 'Directorate of Agriculture & Food Production' | translate}}</a>
                                                </li>
                                                <li data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                                                        <a href="http://odihort.nic.in/" target="_blank" class="screen__reader">{{ 'Directorate of Horticulture' | translate}}</a>
                                                </li>
                                                <li data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                                                        <a href="https://www.soilodisha.nic.in/" target="_blank" class="screen__reader">{{ 'Directorate of Soil Conservation & Watershed Development' | translate}}</a>
                                                </li>

                                        </ul>
                                </div>
                                <div class="col-md-4 col-lg-3">
                                        <h4  data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out" class="screen__reader">{{'Quick Links' | translate}}</h4>
                                        <ul>
                                                <li data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                                                        <a routerLink="/home/howtoapply" class="screen__reader">{{'How to Apply' |
                                                                translate}}</a>
                                                </li>
                                                <li data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                                                        <a routerLink="/home/faq" class="screen__reader">{{'FAQ' |
                                                                translate}}</a>
                                                </li>
                                                <li  data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                                                        <a routerLink="/home/knowyourstatus" class="screen__reader">{{'Know your status' | translate}}</a>
                                                </li>
                                                <li data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                                                        <a href="javascript:void(0)" (click)="getIFSC()" class="screen__reader">{{'Get IFSC Code' | translate}}</a>
                                                </li>
                                                <li data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                                                                <a routerLink="/home/contact-us" class="screen__reader">{{'Contact Us' | translate}}</a>
                                                        </li>

                                        </ul>
                                </div>
                                <div class="col-md-12 col-lg-4">
                                        <h4  data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out" class="screen__reader">{{'Contact Us' | translate}} </h4>
                                        <!-- <p class="text-white mb-0" data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">{{'Head Office' | translate}}<br>{{'Fisheries & Animal Resources Development Department' | translate}}<br>
                                        {{'Odisha Secretariat, Sachivalaya Marg, Bhubaneswar -751001'| translate}} <br> 
                                        {{'Email'| translate}}:
                                        <a href="mailto:helpdesk.sugam@odisha.gov.in" data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">helpdesk.sugam@odisha.gov.in</a></p>
                                        <hr style=" color: white;">
                                        <p class="text-white mb-0" data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">
                                                {{'Department Of Agriculture And Farmers Empowerment' | translate}}
                                                <br>
                                                {{'Krushi Bhavan, Bhubaneswar, Odisha, India , Pin-Code: 751001'| translate}} <br> 
                                                {{'Email'| translate}}:
                                                <a href="mailto:helpdesk.sugam@odisha.gov.in">helpdesk.sugam@odisha.gov.in</a>
                                        </p> -->
                                        <h6 data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out" class="text-white mt-3 screen__reader">{{'Head Office' | translate}}</h6>
                                      <div class="address-text">
                                        <address data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out" class="screen__reader">
                                                {{'Fisheries & Animal Resources Development Department' | translate}}
                                       
                                        </address>
                                        <address data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out" class="screen__reader">
                                                {{'Odisha Secretarat, Sachivalaya Marg' | translate}} 
                                        </address>
                                        <address data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out">{{'Bhubaneswar, Odisha,  Pin-Code: 751001' | translate}}</address>
                                      <p data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out" class="screen__reader"> {{'Email'| translate}}: <a href="mailto:helpdesk.sugam@odisha.gov.in" data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out" class="link-secondary link-underline-opacity-100-hover">helpdesk.sugam@odisha.gov.in</a></p>
                               
                                      </div>
                                      <hr style=" color: white; border:1px dotted">
                                      <div class="address-text">
                                        <address  data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out" class="screen__reader">
                                                {{"Department Of Agriculture And Farmers' Empowerment" | translate}}
                                       
                                        </address>
                                        <address  data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out" class="screen__reader">
                                                {{'Krushi Bhavan' | translate}}
                                       </address>
                                        <address data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out" class="screen__reader">
                                                {{'Bhubaneswar, Odisha,  Pin-Code: 751001' | translate}}
                                        </address>
                                      <p data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out" class="screen__reader"> {{'Email' | translate}}: <a href="mailto:helpdesk.sugam@odisha.gov.in" data-aos="fade-up" data-aos-delay="50"data-aos-duration="1000" data-aos-easing="ease-in-out" class="text-grey">helpdesk.sugam@odisha.gov.in</a></p>  
                               
                                      </div>
                                </div>
                                
                     
                        </div>
                </div>
                <div class="copyright screen__reader"> <span>&copy;
                                <script>
                                        document.write(new Date().getFullYear());
                                </script>{{'Fisheries & Animal Resource Development Department' | translate}}, Powered by OCAC
                        </span> </div>
        </div>

</div>
</section>
<ng-template #someModal id="someModal" let-modal>
        <form [formGroup]="ifscForm" (ngSubmit)="searchIFSC();">
                <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">{{'Find IFSC Code' | translate}}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                (click)="modal.dismiss('Cross click')">
                                <i class="icon-times-solid"></i>
                        </button>
                </div>
                <div class="modal-body">
                        <div class="row">
                                <div class="col-md-5 col-lg-5">
                                        <div class="form-group">
                                                <label class="screen__reader"><span class="text-danger">*</span> {{ 'Bank Name' | translate}}
                                                </label>
                                                <select class="form-select screen__reader" formControlName="vchBankName"
                                                        [ngClass]="{ 'is-invalid': ifscSubmitted && j.vchBankName.errors }">
                                                        <option value="">Select</option>
                                                        <option *ngFor="let bank of BankNames;"
                                                                value="{{bank.vch_Bank_Name}}">{{bank.vch_Bank_Name}}
                                                        </option>
                                                </select>
                                                <div *ngIf="ifscSubmitted && j.vchBankName.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="j.vchBankName.errors.required">Select bank</div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-5 col-lg-5">
                                        <div class="form-group">
                                                <label class="screen__reader"><span class="text-danger">*</span> {{ 'District Name' |
                                                        translate}} </label>
                                                <select class="form-select screen__reader" formControlName="vchDistrictName"
                                                        [ngClass]="{ 'is-invalid': ifscSubmitted && j.vchDistrictName.errors }">
                                                        >
                                                        <option value="">Select</option>
                                                        <option *ngFor="let dist of DistrictNames;"
                                                                value="{{dist.vch_District}}">{{dist.vch_District}}
                                                        </option>
                                                </select>
                                                <div *ngIf="ifscSubmitted && j.vchDistrictName.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="j.vchDistrictName.errors.required">Select district
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-2 col-lg-2 mt-3 pt-1 ">
                                        <div class="form-group">
                                                <button  class="btn btn-success screen__reader">Search</button>
                                        </div>
                                </div>
                        </div>


                        <div class="fix-height">
                                <div class="row" *ngIf="isIFSCFlag;else norecord ">
                                        <div class="table-responsive">
                                                <table class="table table-bordered">
                                                        <thead>
                                                                <tr>
                                                                        <th scope="col" width="50px">Sl#</th>
                                                                        <th scope="col">Branc Name</th>
                                                                        <th scope="col">IFSC Code</th>
                                                                </tr>
                                                        </thead>
                                                        <tbody>
                                                                <tr *ngFor="let b of Banks;let i=index">
                                                                        <td>{{i + 1 }}</td>
                                                                        <td>{{b.vch_Branch_Name}}</td>
                                                                        <td>{{b.vch_Ifsc_Code}}</td>
                                                                </tr>
                                                        </tbody>
                                                </table>
                                        </div>
                                </div>
                                <ng-template #norecord>
                                        <h6 class="no-content"> No Record Found</h6>

                                </ng-template>
                        </div>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" id="closeModal"  >Close</button>
            </div> -->
        </form>
</ng-template>