<h5 class="common-heading">{{'Change Password' | translate}}</h5>
<form>
        <div class="row mt-5">
                <label class="col-lg-2 col-md-4">{{'Current Password' | translate}}</label>
                <div class="col-lg-4 col-md-8">
                        <div class="form-group input-groupnew">
                                <input type="password" class="form-control password" [(ngModel)]="oldPassword" name="oldPassword">
                                <div class="eyeSec show__password" (click)="changePassword()"><i class="icon-eye-slash" title='hide'></i></div>

                        </div>
                </div>
        </div>
        <div class="row">
                <label class="col-lg-2 col-md-4">{{'New Password' | translate}}</label>
                <div class="col-lg-4 col-md-8">
                        <div class="form-group input-groupnew">
                                <input type="password" class="form-control password2" maxlength="15" minlength="8"
                                        [(ngModel)]="newPassword" name="newPassword">
                                        <div class="eyeSec show__password2" (click)="changePassword2()"><i class="icon-eye-slash" title='hide'></i></div>

                        </div>
                </div>
        </div>
        <div class="row">
                <label class="col-lg-2 col-md-4">{{'Confirm Password' | translate}}</label>
                <div class="col-lg-4 col-md-8">
                        <div class="form-group input-groupnew">
                                <input type="password" class="form-control password3" [(ngModel)]="confirmPassword" name="confirmPassword">
                                <div class="eyeSec show__password3" (click)="changePassword3()"><i class="icon-eye-slash" title='hide'></i></div>

                        </div>
                </div>
        </div>
        <div class="row">
                <label class="col-lg-2 col-md-4"></label>
                <div class="col-lg-4 col-md-8">
                        <button class="btn btn-success" (click)="updPassword();">Submit</button> &nbsp;
                        <button type="reset" class="btn btn-danger">Reset</button>
                </div>
        </div>

        <div class="loader" *ngIf="loading">
                <div class="loader-item"></div>
                <p>Loading...</p>
        </div>

</form>