
.img-div{
  border: 1px solid var(--shadow);
  text-align: center;
  background: var(--shadow);
  padding: 1rem;
}
.img-div img{
 height: 140px;
 width: auto;
 max-width: 100%;
}
.custom-popup {
  max-width: 800px; /* Ensure it doesn't exceed the specified width */
  /* Add more styles if needed */
}
.custom-icon {
  font-size: 10px !important; /* Adjust this value to change the icon size */
  height: 40px; /* Ensure the height matches */
  width: 40px; /* Ensure the width matches */
}
.swal2-icon {
  font-size: 10px !important; /* Adjust as needed */
}