<h5 class="common-heading">{{'Change Password' | translate}}</h5>
<form>
        <div class="row mt-5">
                <label class="col-lg-2 col-md-4">{{'Current Password' | translate}}</label>
                <div class="col-lg-4 col-md-8">
                        <div class="form-group">
                                <input [type]="passwordFieldType" class="form-control position-relative" [(ngModel)]="oldPassword">
                                <a class="passwordshowbtn" (click)="togglePasswordVisibility(1);">
                                        <img [src]="passwordToggleImage"
                                                [alt]="passwordFieldType === 'password' ? 'show' : 'hide'">
                                </a>
                        </div>
                </div>
        </div>
        <div class="row">
                <label class="col-lg-2 col-md-4">{{'New Password' | translate}}</label>
                <div class="col-lg-4 col-md-8">
                        <div class="form-group">
                                <input [type]="passwordFieldType2" class="form-control position-relative" maxlength="15" minlength="8"
                                        [(ngModel)]="newPassword">
                                        <a class="passwordshowbtn" (click)="togglePasswordVisibility(2)">
                                                <img [src]="passwordToggleImage2"
                                                        [alt]="passwordFieldType2 === 'password' ? 'show' : 'hide'">
                                        </a>
                        </div>
                </div>
        </div>
        <div class="row">
                <label class="col-lg-2 col-md-4">{{'Confirm Password' | translate}}</label>
                <div class="col-lg-4 col-md-8">
                        <div class="form-group">
                                <input [type]="passwordFieldType3" class="form-control position-relative"
                                        [(ngModel)]="confirmPassword">
                                <a class="passwordshowbtn" (click)="togglePasswordVisibility(3)">
                                        <img [src]="passwordToggleImage3"
                                                [alt]="passwordFieldType3 === 'password' ? 'show' : 'hide'">
                                </a>
                        </div>



                </div>
        </div>
        <div class="row">
                <label class="col-lg-2 col-md-4"></label>
                <div class="col-lg-4 col-md-8">
                        <button class="btn btn-success" (click)="updPassword();">Submit</button> &nbsp;
                        <button type="Reset" class="btn btn-danger">Reset</button>
                </div>
        </div>

        <div class="loader" *ngIf="loading">
                <div class="loader-item"></div>
                <p>Loading...</p>
        </div>

</form>