
<app-header></app-header>
<div class="pagenavigation">

        <div class="container">
                <h2>{{'HELPLINE' | translate}}</h2>
        </div>    
        </div>
        <div class="container">
            <div class="page-container content-section">
                <div class="row"> 
                    <div class="col-xl-6 col-lg-6 col-12 mb-2"> 
                        <div class="card">
                            <div class="card-header"> <strong>Fisheries &amp; Animal Resources Development Department</strong> </div><div class="card-body">
                                <ol>
                                    <li><strong>Helpdesk 1</strong> <span> - </span> 7205120692</li>
                                    <li><strong>Helpdesk 2</strong> <span> - </span> 7205120693</li>
                                </ol>
                                
                            </div>
                        </div>
                 </div>
            
                 <div class="col-xl-6 col-lg-6 col-12 mb-2"> 
                    <div class="card">
                        <div class="card-header"> <strong>Department of Agriculture &amp; Farmers Empowerment </strong> </div>
                        <div class="card-body">
                            <ol>
                                <li><strong>Helpdesk 1</strong> <span> - </span> 9861863735</li>
                                <li><strong>Helpdesk 2</strong> <span> - </span> 9337744864</li>
                            </ol>
                            
                        </div>
                    </div>
                 </div>
            
                </div>
            </div>
            </div>
               
<app-footer></app-footer>